<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinetic.fit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.kinetic.fit.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.kinetic.fit.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <supports-screens
        android:requiresSmallestWidthDp="320"
        android:smallScreens="false" />

    <application
        android:name=".FitApplication_"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/KineticTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <service
            android:name=".connectivity.SensorScanner_"
            android:exported="false" />
        <service android:name=".connectivity.SensorDataService_" />
        <service android:name=".data.DataSync_" />
        <service android:name=".controllers.SessionController_" />
        <service android:name=".util.subscription.FitSubscription_" />
        <service
            android:name=".cast.FitCastService_"
            android:exported="false" />

        <provider
            android:name=".util.GenericFileProvider"
            android:authorities="com.kinetic.fit.ui.analysis.AnalysisActivity"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.login.LoginDispathActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.root.SynchronizeActivity_"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.root.RootActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.workout.WorkoutActivity_"
            android:label="@string/title_activity_workout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.analysis.AnalysisActivity"
            android:label="@string/title_activity_analysis"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.support.SupportActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.profile.ProfileActivity_"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".ui.settings.SensorsActivity_"
            android:label="@string/title_activity_sensors"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connectivity.third_party_clients.OAuthRedirectHandlerActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="com.kinetic.fit" />
            </intent-filter>
        </activity>
        <activity
            android:name=".connectivity.third_party_clients.StravaAuthActivity"
            android:label="@string/title_activity_profile_fragment_social_authenticate_strava"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connectivity.third_party_clients.GoogleAuthActivity"
            android:label="@string/title_activity_profile_fragment_social_authenticate_google"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connectivity.third_party_clients.UAAuthActivity"
            android:label="@string/title_activity_profile_fragment_social_authenticate_ua"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connectivity.third_party_clients.TrainingPeaksAuthActivity"
            android:label="@string/title_activity_profile_fragment_social_authenticate_trainingpeaks"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connectivity.third_party_clients.TwoPeakAuthActivity"
            android:label="@string/title_activity_profile_fragment_social_authenticate_2peak"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.video.select.VideoSelectActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.workout.OverviewActivity_"
            android:label="Workout Overview"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.subscription.FitActivateTrialActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ui.settings.SensorSettingsActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SensorUpdateActivity_"
            android:label="Sensor Update"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zendesk.sdk.support.SupportActivity"
            android:theme="@style/ZendeskSdkTheme.Dark" />
        <activity
            android:name="com.zendesk.sdk.feedback.ui.ContactZendeskActivity"
            android:theme="@style/ZendeskSdkTheme.Dark" />
        <activity
            android:name="com.zendesk.sdk.requests.RequestActivity"
            android:theme="@style/ZendeskSdkTheme.Dark" />
        <activity
            android:name="com.zendesk.sdk.requests.ViewRequestActivity"
            android:theme="@style/ZendeskSdkTheme.Dark" />
        <activity
            android:name=".ui.workout.CategoryActivity_"
            android:label="Categories"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.workout.SelectionActivity_"
            android:label="Select Workout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.workout.CalibrateActivity_"
            android:label="@string/title_activity_sensors"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingsActivity_"
            android:label="Settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.workout.WarmupActivity_"
            android:label="Warmup"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.profile.SocialActivity_"
            android:label="Connections"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainingplans.TrainingPlanDayActivity_"
            android:label="Today&apos;s Workout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainingplans.TrainingPlanActivity_"
            android:label="Training Plans"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainingplans.TrainingPlanCalendarActivity_"
            android:label="Plan Schedule"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainingplans.TrainingPlanOverViewActivity_"
            android:label="Training Plan Overview"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.subscriptions.SubscriptionStatusActivity_"
            android:label="Subscription Status"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.subscriptions.SubscribeGearActivity_"
            android:label="Subscription Gear Order"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.subscriptions.CheckoutActivity_"
            android:label="Checkout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.subscriptions.ConfirmationActivty_"
            android:label="Order Confirmed"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-nyrnurbq98qpjgs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".connectivity.third_party_clients.DropboxAuthActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.displays.PropertySelectActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.displays.DisplaysActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.root.ImportWorkoutActivity"
            android:label="Import Custom Workout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\.mrc"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="text/plain"
                    android:pathPattern=".*\\.erg"
                    android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="Kinetic"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e19527497e32ed3a2b59c5bdff6fb71d270d5e19" />
    </application>

</manifest>